.divPerfil {
    width: 70vw;
    height: 100vh; 
}

.divPerfil>input::placeholder {
    text-align: center;
}

.divPerfil>input {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.input-file {
    display: none;
}

.labelInputImg>img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 50%;
}

.labelInputImg {
    width: 50vw;    
}

.divContainer1 {
    width: 100%; 
    height: 25%;
}

.divContainer2,.divContainer4,.divContainer5 {
    width: 50%;
    height: 30%;
}

.fontCursiveNegrita {
    font-family: cursive;
    font-weight: bolder;
}

.divContainer3 {
    text-align: center;
    width: 50%;
    height: 15%; 
    float: right;
    font-size: 150%;
}

.divContainer3>h1 {
    font-size: 120%;
    text-decoration: underline;
    color: rgb(74, 111, 182);
}

.divContainer4,.divContainer5 {
    font-size: 150%;
    text-align: center;
}

.divContainer4,.divBtnSave {
    float: right;
}
.divContainer5,.divBtnHome,.divContainer2 {  
    float: left; 
}

.divContainer5>input,.divContainer4>input,.divContainer3>div>input {
    text-align: center;
    border-radius: 20px;
    padding: 25px
}

.divBtnSave,.divBtnHome {
    width: 50%;
    height: 10%;
}

.divBtnSave>button,.divBtnHome>button {
    height: 70%;
    width: 25%;
}