<div class="divContainer">
    <div *ngIf="!pokemonExists">
        <app-title-decoration [title]="'New pokemon'"></app-title-decoration>
        <div class="divPokemon">
            <div class="pokemonCard">
                <form [formGroup]="form" (ngSubmit)="addPokemon()">
                    <div class="custom-input-file flexCenterCenter">
                        <input type="file" accept=".png,.jpg" id="inputImg" class="input-file" (change)="uploadImage($event)">
                        <label class="labelInputImg flexCenterCenter" for="inputImg">Subir Imagen</label>
                    </div>
                    <div class="inputContainerAlta">
                        <app-input [nameLabel]="'Nombre'" [condition]="form.get('name')?.hasError('required') && form.get('name')?.touched"
                            [formName]="'name'" [message]="'El nombre es requerido'" 
                            [inputType]="'text'" [form]="form"></app-input>
                        <app-input [nameLabel]="'Lvl'" [condition]="form.get('lvl')?.hasError('required') && form.get('lvl')?.touched"
                            [formName]="'lvl'" [message]="'El lvl es requerido'" 
                            [inputType]="'number'" [form]="form"></app-input>
                    </div>
                    <div class="inputContainerAlta "> 
                        <app-input [nameLabel]="'Tipo'" [condition]="form.get('types')?.hasError('required') && form.get('types')?.touched"
                        [formName]="'types'" [message]="'El tipo es requerido'" 
                        [inputType]="'text'" [form]="form"></app-input>
                        <div class="mt-2 mb-2">
                            <h5>"Id de evolucion"</h5><input type="number" formControlName="idEvolution" class="form-control">
                        </div>
                    </div>
                    <h4 class="inputContainerAlta mt-2">Habilidades</h4>
                    <div class="inputContainerAlta ">  
                        <app-input [condition]="form.get('abilityName')?.hasError('required') && form.get('abilityName')?.touched"
                            [formName]="'abilityName'" [nameLabel]="'Nombre'" [inputType]="'text'"
                            [message]="'El nombre es requerido'" [form]="form"></app-input>
                        <app-input [condition]="form.get('abilityDescription')?.hasError('required') && form.get('abilityDescription')?.touched"
                            [formName]="'abilityDescription'" [nameLabel]="'Descripcion'" [inputType]="'text'"
                            [message]="'La descripcion es requerida'" [form]="form"></app-input>
                    </div>
                    <div class="d-flex justify-content-center mt-2 form-group">
                        <button class="btn btn-info w-50 btnActive" [routerLink]="['/home']">←Home</button>
                        <button class="btn btn-success w-50 btnActive" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="pokemonExists">
        <app-title-decoration [title]="'Edit Pokemon'"></app-title-decoration>
        <div class="divPokemon">
            <div class="pokemonCard">
                <div class="inputNombreEdit">
                    <h5>Nombre</h5><input type="text" class="form-control" placeholder="{{pokemon?pokemon.name:'Name'}}" [(ngModel)]="editName">
                </div>
                <div class="custom-input-file flexCenterCenter">
                    <input type="file" accept=".png,.jpg" id="inputImg" class="input-file" (change)="uploadImage($event)">
                    <label class="labelInputImg flexCenterCenter" disabled><img src={{pokemon.image}} width="100px" height="100px" alt=""></label>
                </div><hr>
                <div class="inputItemsEdit flexCenterCenter">
                    <h5>Level: {{pokemon.lvl}}</h5>
                </div><hr>
                <div class="inputItemsEdit flexDirectionColumn flexCenterCenter">  
                    <h5 class="mt-2">Habilidades</h5>
                    <div class="divHabilidades" *ngFor="let ability of pokemon.abilities">
                        <label>Nombre: {{ability.name}}</label>
                        <label>Descripcion: {{ability.description}}</label>
                    </div>
                </div><hr>
                <div class="inputItemsEdit flexDirectionColumn flexCenterCenter">
                    <app-input-con-boton [title]="'Tipo'" [inputType]="'text'"
                    (agree)="addType(pokemon,$event)" [nameButton]="'Agregar'"></app-input-con-boton>
                    <label >Seleccione el tipo a editar:</label>
                    <ul class="ulSeleccionTipo">
                        <li (click)="selectedType=type" *ngFor="let type of pokemon.type">{{type}}
                            <button class="btn btn-danger" (click)="deleteType=true" type="button">🗑️</button>
                        </li>
                    </ul>
                </div><hr>
                <div *ngIf="pokemon.evolutionId" class="inputItemsEdit flexDirectionColumn flexCenterCenter" >
                    <h5>Evoluciones</h5>
                    <Label>Id de Evolucion: {{pokemon.evolutionId}}</Label>
                    <div class="divDetalleEvolucion flexDirectionColumn " *ngIf="evolvedPokemon">
                        <label>{{evolvedPokemon.name}}</label>
                        <label>Level: {{evolvedPokemon.lvl}}</label>
                        <input type="file" accept=".png,.jpg" id="inputImg" class="input-file">
                        <label><img src={{evolvedPokemon.image}} width="100px" height="100px" alt=""></label>
                    </div>
                    <button class="btn btn-danger m-2" (click)="deleteEvolution=true" type="button">🗑️</button>
                </div> 
                <div *ngIf="!pokemon.evolutionId" class="inputItemsEdit flexDirectionColumn flexCenterCenter">
                    <app-input-con-boton [title]="'Evoluciones'" [subTitle]="'Id de Evolucion'" [inputType]="'number'"
                    (agree)="addIdEvolution(pokemon,$event)" [nameButton]="'Agregar'"></app-input-con-boton>
                </div><hr>
                <div class="d-flex justify-content-center mt-2 form-group">
                    <button class="btn btn-info w-50" [routerLink]="['/home']">←Home</button>
                    <button class="btn btn-success w-50" (click)="modifyPokemon(pokemon)">Update</button>
                </div>
                <app-modal [condition]="deleteType" [title]="'Pokedex-Lite'" [message]="'Queres eliminar este tipo?'"
                    (agree)="removeType(pokemon,selectedType)" (rejection)="closePopup()"></app-modal>
                <app-modal [condition]="deleteEvolution" [title]="'Pokedex-Lite'" [message]="'Queres eliminar esta evolucion?'"
                    (agree)="removeIdEvolution(pokemon)" (rejection)="closePopup()"></app-modal>
            </div>
        </div> 
    </div>
</div>