.divContainer{   
    height: 100vh;
    background: linear-gradient(336deg,rgb(240, 227, 108),rgb(253, 171, 171));
}

.btnNew{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center; 
    border-style: dashed;
    border-color: red;
    background-color: transparent;
}
.btnNew:active{
    transform: scale(0.95);
}

.divPokemon{
    width: 80%;
    box-shadow: 0px 0px 25px 0px #ff0000;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    grid-auto-rows: 23rem;
    margin: 1rem;
    max-height: 55vh;
    overflow: scroll;
}

.divPokemon::-webkit-scrollbar{
    display: none;
}

.pokemonCard{
    border-radius: 10%;
    background-color: #dc3545;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    max-width: 100%;
    text-align: center;
    color: white;
}

.divContainerPokemon,.divBotonAgregar{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.btnSalir{
    position: absolute;
    right: 1rem;
    top:1rem;
}

.divBoton{
    width: 80%;
    display: flex;
    justify-content: end;
}
