<div class="divContainer">
    <button class="btn btn-danger btnSalir" [routerLink]="['/login']">Salir</button>
    <app-title-decoration [title]="'Pokedex-Lite'"></app-title-decoration>
    <div class="divBotonAgregar">
        <div class="divBoton">
            <button class="btnNew" (click)="IrAAgregar()">➕</button>
        </div>
    </div>
    <div class="divContainerPokemon">
        <div class="divPokemon">
            <div class="pokemonCard" (click)="selectPokemon(pokemon)" *ngFor="let pokemon of list">
                <div>
                    <h3>{{pokemon.name}}</h3>
                    <img width="200px" src={{pokemon.image}} alt="img-pokemon"><br>
                    <label>Level: {{pokemon.lvl}}</label><br>
                    <label>Tipos: {{pokemon.type}}</label>
                </div>
            </div>
        </div>
    </div>
</div>