<div class="contenedor" *ngIf="!pokemonSeleccionado">
    <button class="btn btn-danger btnSalir" (click)="onLogout()">Salir</button>
    <div>
        <p class="text-center mb-5"><small>User logged in system</small></p>
        <div class="card m-3">
            <div class="card-header text-center">
                <h5>Pokedex-Lite</h5> 
            </div>
            <div class="card-body" >
                <div class="inputContainer" *ngFor="let pok of lista" (click)="seleccionarPokemon(pok)">
                    <input type="text" style="width: 30%;" placeholder={{pok.type}} disabled>
                    <input type="text" style="width: 60%;" placeholder={{pok.name}} disabled>
                    <input type="number" style="width:10%;" placeholder={{pok.lvl}} disabled>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btnNew" [routerLink]="['/addEdit']">➕</button>
            </div>
        </div>
    </div>
</div>
